body {
  --white: #F8F7F4;
  --black: #393532;
  --ochre: #BE6135;
  --ochre-light: #D47D48;
  --ochre-dark: #622816;
  --nav-height: 6em;
  --blue: #7A9C8E;
  --blue-light: #9EBAB1;
  --blue-dark: #3B584A;
  background-color: var(--white);
  font-family: sans-serif;
  color: var(--black);
  zoom: 1.25;
  line-height: 2;
  margin: 0;
}

::selection {
  background: var(--black); /* WebKit/Blink Browsers */
  color: var(--white);
}

::-moz-selection {
  background: var(--black); /* WebKit/Blink Browsers */
  color: var(--white);
}

nav {
  margin: 2em 5em 4em;
}

main {
  margin: 0 5em;
  min-height: 50vh;
}

footer {
  margin-top: 4em;
  padding-top: 1em;
  background-color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  font-family: sans-serif;
  zoom: 1.25;
  margin: 0;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 400;

}

h3 {
  font-weight: 300;

}

.logo {

}

.single-col {
  max-width: 30em;
}

p {
  font-weight: 100;
}

a {
  font-weight: 100;
  color: var(--ochre);
  text-decoration: none;
  border-bottom: 1px dashed var(--ochre);
}

a:hover {
  color: var(--ochre-dark);
  border-bottom: 1px dashed var(--ochre-dark);
  transition: 0.5s;
}

blockquote {
  font-weight: 100;
  max-width: 30em;
  position: relative;
  display: inline-block;
  margin: 1em 0;
  padding: 1em 1em 1em 3em;
  /*background-color: rgba(255,255,255, 0.8);*/
  /*box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.05);*/
}

blockquote:before {
  font-family: serif;
  font-weight: 900;
  content: "“";
  top: -0.25em;
  left: 0.25em;
  font-size: 3em;
  position: absolute;
}

button {
  color: var(--white);
  font-weight: 100;
  border: none;
  padding: 1ex 2ex;
  font-size: 1em;
  border-radius: 1px;
  transition: 0.5s;
  letter-spacing: 1px;
  margin-right: 0.5em;
}

button:hover {
  cursor: pointer;
  transition: 0.5s;
}

.btn-primary {
  background-color: var(--ochre);
}
.btn-primary:hover {
  background-color: var(--ochre-dark);
}
.btn-primary:focus, .btn-primary:active {
  outline: none;
  background-color: var(--ochre-light);
}

.btn-secondary {
  background-color: var(--blue);
}
.btn-secondary:hover {
  background-color: var(--blue-dark);
}
.btn-secondary:focus, .btn-secondary:active {
  outline: none;
  background-color: var(--blue-light);
}